<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <title>Cat App</title>
</head>
<body>
    <main class="homeContainer">
        <h1>Welcome to the Wonderful World of Cats!</h1>
        <div class="app-description">
        <h2>An app for collecting and sharing your favorite cats.</h2>
        <h4>Add your furry friend and show them off to the world!</h4>
    </div>
        <a class="gallery-btn" href="/cats">See the Cat Gallery</a>
    </main>
</body>
</html>
