:root {
  --dark-blue: rgba(10, 51, 80, 0.727);
  --blue-gray: rgba(53, 96, 103, 0.478);
  --taupe: rgba(145, 138, 127, 0.877);
  --dark-brown: rgba(29, 26, 24, 0.909);
  --light-taupe: rgba(220, 220, 210, 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--light-taupe);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.homeContainer {
  text-align: center;
  background-color: var(--dark-blue);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--light-taupe);
  font-weight: bold;
}

.app-description {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap:25px;
  color: var(--dark-brown);
}

.gallery-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 14px 28px;
  background-color: var(--taupe);
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-btn:hover {
  background-color: var(--dark-brown);
  transform: translateY(-3px);
}
